<div class='background_pattern'></div>

<div id='intro_section'>
	<div id='logo'>
		<%= image_tag('wassermann_logo.jpg', alt: 'Logo Wassermann') %>
	</div>

	<h1 id='header_text'> Looking Forward <br> Working <br> In Berlin </h1>

	<h4 id='header_subtext'>more craft &nbsp  less bullshit</h4>
</div>

<div id='desktop_background'>
	<%= image_tag('Working_in_Berlin_raw.jpg', id: 'Desktop_Pic', alt: 'Desk background picture') %>
</div>

<div id='pink_intro_bg'>
	<h1 id='creating_value'>Creating Value <br> with <br> Design & Code </h1>
	
	<div id='skill_pics_container'>
		<ul>
			<li><a class="hovertext" href="#" title="Rails"><%= image_tag('trainwreck.png', class: 'skill_pics', alt: 'train-wreck') %></a><br><a href='http://fathomless-sea-9527.herokuapp.com/' target='_blank'>www</a></li>
			<li><a class="hovertext" href="#" title="Design"><%= image_tag('recycle_design.png', class: 'skill_pics', alt: 'designer of recycle symbol') %></a><br><a href='http://hackerretreat.com/' target="_blank">www</a></li>
			<li><a class="hovertext" href="#" title="Film"><%= image_tag('cameraman.png', class: 'skill_pics', alt: 'man filming on a skyscraper') %></a><br><a href='http://startup-dna.tumblr.com/' target='_blank'>www</a></li>
		</ul>
	</div>
</div>

<div id='plane_pic'>
	<%= image_tag('plane.jpg', id: 'Plane_Pic', alt: 'Plane with pig on board') %>
</div>
<h4 id='piggie_text'>Everything for my piggie</h4>

<div id='applying_pic'>
	<%= image_tag('Applying.jpg', id: 'sinatra', alt: 'Sinatra steps out of helicopter') %>
</div>
<h4 id='applying_text'>I'm applying</h4>

<div id='static_bar'>Expect me to</div>
<div id='find_me_bar'>Find me here</div>

<div id='dreamer_pic'>
	<%= image_tag('dreamer.jpg', id: 'dreamer', alt: 'kid listening to Dr. King') %>
</div>
<h4 id='dreamer_text'>Be a dreamer <br> & <br>idealist</h4>

<div id='workbuddoff_pic'>
	<%= image_tag('workbuddoff.jpg', id: 'workbuddoff', alt: 'Lumberjacks in the woods') %>
</div>
<h4 id='workbuddoff_text'>Workmabuddoff</h4>

<div id='jackasses_pic'>
	<%= image_tag('jackasses.jpg', id: 'jackasses', alt: 'Tony Hawk and Evil Knievel on a bike') %>
</div>
<h4 id='jackasses_text'>Have a <span id='small_secret'>secret</span> love for jackasses</h4>

<div id='agile_pic'>
	<%= image_tag('agile.jpg', id: 'agile', alt: 'Some guy jumps with head-first against a wall to test a helmet') %>
</div>
<h4 id='agile_text'><span class='indent'>Wo</span><br><span class='indent2'>rk</span><br><span class='indent3'>Ag</span><br><span class='indent4'>ile</span></h4>

<div id='teamwork_pic'>
	<%= image_tag('teamwork.jpg', id: 'teamwork', alt: '2 handicaped men on a tandem bicycle') %>
</div>
<h4 id='teamwork_text'><span class='teamwork_padding'>V</span><br>Teamwork<br><span class='teamwork_padding'>l</span><br><span class='teamwork_padding'>u</span><br><span class='teamwork_padding'>e</span></h4>


<div id='grace_pic'>
	<%= image_tag('grace.jpg', id: 'grace', alt: 'Ballerinas dancing in rural ruins') %>
</div>
<h4 id='grace_text'>strive for<br><br><br> <span id='grace_padding'>grace</span><br> under <br>pressure</h4>

<div id='crunchtime_pic'>
	<%= image_tag('crunchtime.jpg', id: 'crunchtime', alt: 'dude listening to a weird sound amplifier to check on incoming bomber planes') %>
</div>
<h4 id='crunchtime_text'>not listen<br> to<br> schlager music<br> during<br> crunchtime<br><a id='www' href='https://soundcloud.com/vis_kid/sets/coding-chill-set01' target='_blank'>www</a></h4>

<div id='balance_pic'>
	<%= image_tag('balance.jpg', id: 'balance', alt: 'Golfer on a skyscraper driving a golfball') %>
</div>
<h4 id='balance_text'>have balance in life</h4>
<h4 id='rotated', class='rotate'>have balance in life</h4>

<div id='team_pic'>
	<%= image_tag('Allstar_team.jpg', id: 'team', alt: 'Various film icons in a cantine') %>
	<a id='soundcloud' href='https://soundcloud.com/vis_kid/sets/coding-chill-set01' target='_blank'>www</a>
</div>
<h4 id='team_text'>wanna work with <br>an<br> allstar team</h4>

<div id='down_to_earth_pic'>
	<%= image_tag('down_to_earth.jpg', id: 'down_to_earth', alt: 'Yuri Gagarin') %>
</div>
<h4 id='down_to_earth_text'>Be <br>down <br> to <br>earth</h4>

<div id='crazy_handstand_pic'>
	<%= image_tag('crazy_handstand.jpg', id: 'crazy_handstand', alt: 'Guy doing a handstand on a skyscrapper') %>
</div>
<div id='pink_larry_pic'>
	<%= image_tag('pink_larry.png', id: 'pink_larry', alt: 'pink twitter logo') %>
</div>

<div class='ed'>ed wassermann says<br>'Hi!'</div>
