<div class='background_pattern'></div>

<div id='intro_section'>
	<div id='logo'>
		<%= image_tag('wassermann_logo.jpg', alt: 'Logo Wassermann') %>
	</div>

	<h1 id='header_text'> Looking Forward <br> Working <br> In Berlin </h1>

	<h4 id='header_subtext'>more craft &nbsp  less bullshit</h4>
</div>

<div id='desktop_background'>
	<%= image_tag('Working_in_Berlin_raw.jpg', id: 'Desktop_Pic', alt: 'Desk background picture') %>
</div>

<div id='pink_intro_bg'>
	<h1 id='creating_value'>Creating Value <br> with <br> Design & Code </h1>
	
	<div id='skill_pics_container'>
		<ul>
			<li><%= image_tag('trainwreck.png', class: 'skill_pics', alt: 'train-wreck') %><br><a href='http://fathomless-sea-9527.herokuapp.com/' target='_blank'>www</a></li>
			<li><%= image_tag('recycle_design.png', class: 'skill_pics', alt: 'designer of recycle symbol') %><br><a href='http://hackerretreat.com/' target="_blank">www</a></li>
			<li><%= image_tag('cameraman.png', class: 'skill_pics', alt: 'man filming on a skyscraper') %><br><a href='http://startup-dna.tumblr.com/' target='_blank'>www</a></li>
		</ul>
	</div>
</div>

<div id='plane_pic'>
	<%= image_tag('plane.jpg', id: 'Plane_Pic', alt: 'Plane with pig on board') %>
</div>
<h4 id='piggie_text'>Everything for my piggie</h4>


<div id='applying_pic'>
	<%= image_tag('Applying.jpg', id: 'sinatra', alt: 'Plane with pig on board') %>
</div>
<h4 id='applying'>I'm applying</h4>

<h1 class='pillow'>Hello World</h1>

